@keyframes teaser-entrance
  0%
    transform translateX(80px) scale(2)

  100%
    transform translateX(80px) scale(1)

.categoriesContainer
  background white
  position absolute
  flexbox(flex)
  align-items(center)
  height 100vh
  width 100%

  .menu
    position relative
    z-index 1
    margin-left (100%/12)*2
    mix-blend-mode exclusion

    .categories
      flexbox(flex)
      flex-direction(column)

      .category
        display inline-block
        flex 1 1 auto

        h1
          text-transform capitalize
          display inline-block

          &:hover

            a
              text-decoration line-through

            .count
              opacity 1

          a
            color white
            text-decoration none
            font-weight bold
            line-height normal
            text-transform capitalize
            padding size-calc(1) 0
            display inline-block

          .count
            font-size rem-calc(16)
            margin 0 0 0 size-calc(1)
            opacity 0

  .teaser
    background-color black
    width (100%/12)*9
    will-change transform
    animation teaser-entrance 800ms easing
    transition transform 800ms easing
    transform translateX(100%/12)
    position fixed
    top 0
    right 0
    bottom 0
    z-index 0
    overflow hidden

    &.grow
      transform translateX(0)
      transition transform 600ms easing

      &.people .photoBackground.people
        opacity 1
        transform scale(1.5)

      &.street .photoBackground.street
        opacity 1
        transform scale(1.5)

      &.fashion .photoBackground.fashion
        opacity   1
        transform scale(1.5)

      &.architecture .photoBackground.architecture
        opacity 1
        transform scale(1.5)

      &.travel .photoBackground.travel
        opacity 1
        transform scale(1.5)

    .photoBackground
      transition opacity 600ms easing, transform 60s linear
      opacity 0
      position fixed
      left 0
      top 0
      bottom 0
      right 0
      height 100%
      width 100%
      background-size cover
      background-position center right
