.header
  flexbox(flex)
  align-items(center)
  justify-content(space-between)
  position fixed
  z-index 1
  width 100%
  padding 24px

  .categoryDetails
    position absolute
    width 100%
    left 0
    text-align center
    font-weight bold
    line-height 1rem

    .categoryName
      opacity .2

  .headerControls
    position relative
    z-index 1

    svg
      margin-left size-calc(3)
