.header
  background white
  flexbox(flex)
  align-items(center)
  position fixed
  z-index 1
  width 100%
  padding size-calc(2)

  .logo
    position relative
    z-index 1

  .categoryDetails
    text-align left
    font-weight bold
    line-height 1rem
    flex-grow(1)
    padding 0 size-calc(2)
    text-transform capitalize

  .headerControls
    position relative
    z-index 1
    flexbox(flex)

    & > a
      margin-left size-calc(3)


@media b-sm
  .header
    background transparent
    padding size-calc(3)
