// ViewToggleIcon Animation

@keyframes firstGrid
  0%
    transform translateY(0)

  30%
    transform translateY(0px)

  58%
    transform translateY(-24px)

  100%
    transform translateY(-24px)

@keyframes secondGrid
  0%
    transform translateY(24px)

  30%
    transform translateY(24px)

  38%
    transform translateY(24px)

  58%
    transform translateY(0)

  100%
    transform translateY(0)

@keyframes galleryFirstSlide
  0%
    transform translateX(0)

  30%
    transform translateX(0)

  58%
    transform translateX(-24px)

  100%
    transform translateX(-24px)


@keyframes gallerySecondSlide
  0%
    transform translateX(0)

  28%
    transform translateX(0)

  58%
    transform translateX(-24px)

  60%
    transform translateX(-24px)

  100%
    transform translateX(-48px)

@keyframes galleryThirdSlide
  0%
    transform translateX(0)

  28%
    transform translateX(0)

  58%
    transform translateX(0)

  100%
    transform translateX(-24px)


// PhotoInfoIcon Animation

@keyframes iconToListDot
  0%
    transform translateX(4px)

  50%, 100%
    transform translateX(0px)

@keyframes iconToList1
  0%
    width 2px
    transform translateX(-1px)

  50%, 100%
    width 5px
    transform translateX(0)

@keyframes iconToList2
  0%
    width 2px
    height 6px
    transform translateX(-2px)

  50%, 100%
    width 4px
    height 2px
    transform translateX(0)

@keyframes iconToList3
  0%
    width 2px

  50%, 100%
    width 6px


// CloseViewIcon Animation

@keyframes closing
  0%
    transform translate(10px, 10px) rotate(45deg) translate(-10px, -10px)

  50%
    transform translate(10px, 10px) rotate(90deg) translate(-10px, -10px)

  51%
    height 24px

  90%
    height 0
    transform translate(0, 10px) rotate(90deg) translate(-10px, -10px)

  100%
    height 24px
    transform translate(10px, 10px) rotate(45deg) translate(-10px, -10px)

@keyframes closing2
  0%
    transform translate(10px, 10px) rotate(-45deg) translate(-10px, -10px)

  50%
    transform translate(10px, 10px) rotate(-90deg) translate(-10px, -10px)

  51%
    height 24px

  90%
    height 0
    transform translate(0, 10px) rotate(-90deg) translate(-10px, -10px)

  100%
    height 24px
    transform translate(10px, 10px) rotate(-45deg) translate(-10px, -10px)

div
  cursor pointer

  &.viewToggleIcon
    position relative
    width 20px
    height 20px
    overflow hidden

    span
      transition 500ms easing
      will-change transform, width, height, left, top
      position absolute
      box-shadow inset 0 0 0 2px black

    &.gridMode
      #firstGrid
        span.frame
          width 20px
          height 20px
          left 0px
          top 0px

        span.thridSlide
          width 20px
          height 12px
          left 24px
          top 4px

      #firstGrid
      #secondGrid
        span.tl
        span.br
          width 20px
          height 12px

        span.tr
        span.bl
          width 12px
          height 20px

        span.tl
          left 0px
          top 4px

        span.tr
          left 28px
          top 0px

        span.bl
          left 0px
          top 24px

        span.br
          left 24px
          top 24px

      &:hover
        #firstGrid
        #secondGrid
          span
            animation firstGrid 3s easing infinite

          span.frame
          span.tl
          span.br
            width 9px
            height 7px

          span.tr
          span.bl
            width 9px
            height 11px

          span.frame
            left 0px
            top 0px

          span.tl
            left 0px
            top 0px

          span.tr
            left 11px
            top 0px
            animation-delay 50ms

          span.bl
            left 0px
            top 9px
            animation-delay 100ms

          span.br
            left 11px
            top 13px
            animation-delay 150ms

          span.thridSlide
            width 18px
            height 10px
            left 24
            top 4

        #secondGrid
          span
            animation secondGrid 3s easing infinite

    &.galleryMode
      #firstGrid
        span.frame
        span.tl
        span.br
          width 9px
          height 7px

        span.tr
        span.bl
          width 9px
          height 11px

        span.frame
          left 0px
          top 0px

        span.tl
          top 0px
          left 0px

        span.tr
          left 11px
          top 0px

        span.bl
          left 0px
          top 9px

        span.br
          left 11px
          top 13px

        span.thridSlide
          width 20px
          height 12px
          left 24px
          top 4px

      &:hover
        #firstGrid
          span.frame
            width 20px
            height 20px

          span.tl
          span.br
            width 20px
            height 12px

          span.tr
          span.bl
            width 12px
            height 20px

          span.tl
            top 4px
            animation galleryFirstSlide 3.5s easing infinite

          span.tr
            left 28px
            animation gallerySecondSlide 3.5s easing infinite

          span.bl
            left 0px
            top 24px

          span.br
            left 24px
            top 24px

          span.thridSlide
            width 20px
            height 12px
            animation galleryThirdSlide 3.5s easing infinite
            top 4px

      #secondGrid
        opacity 0

  &.photoInfoIcon
    &:hover
      rect.move
        animation-duration 1s
        animation-timing-function easing
        animation-direction alternate
        animation-iteration-count infinite
        animation-play-state running

        &.ts,
        &.ms,
        &.bs
          animation-name iconToListDot

        &.tl
          animation-name iconToList1

        &.ms
          animation-delay 50ms

        &.ml
          animation-name iconToList2
          animation-delay 50ms

        &.bs
          animation-delay 100ms

        &.bl
          animation-name iconToList3
          animation-delay 100ms

    rect
      &.ts
        width 2px
        height 2px
        x 5
        y 5
        transform translateX(4px)

      &.tl
        width 2px
        height 2px
        x 10
        y 5
        transform translateX(-1px)

      &.ms
        width 2px
        height 2px
        x 5
        y 9
        transform translateX(4px)

      &.ml
        width 2px
        height 6px
        x 11
        y 9
        transform translateX(-2px)

      &.bs
        width 2px
        height 2px
        x 5
        y 13
        transform translateX(4px)

      &.bl
        width 2px
        height 2px
        x 9
        y 13

svg.closeViewIcon
  transition 500ms easing

  &:hover
    transform rotate(90deg)
