body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td
  margin 0
  padding 0
  border 0
  outline none
  box-sizing border-box

ul, li
  list-style none

body
  background-color white
  font-family 'Aktiv Grotesk', -apple-system, BlinkMacSystemFont
  font-size 16px
  color black

.App
  min-height 100vh
  overflow auto

h1
  font-size rem-calc(72)
