base-font-size = 16px
base-unit = 8px
easing = cubic-bezier(0.77,0.0,0.175,1.0)

b-xsm = '(min-width: 25em)'

b-sm = '(min-width: 40em)'

b-sm-mh = '(min-width: 40em) and (max-height: 470px)'

b-touch = '(pointer: coarse)'

b-xsm-touch = '(min-width: 25em) and (pointer: coarse)'
b-sm-touch = '(min-width: 40em) and (pointer: coarse)'
